[Unit]
Description=Lokinet Auth Server
Wants=network-online.target
After=network-online.target


[Service]
User=nobody
SyslogIdentifier=lokinet-auth
ExecStart=/usr/bin/python3 -m lokinet.auth --bind tcp://0.0.0.0:5555/ --cmd /usr/local/exit-provider/check.sh

[Install]
WantedBy=multi-user.target