#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

# Ubuntu's default zstd compression for control, data is not well supported outside Ubuntu:
override_dh_builddeb:
	dh_builddeb -- -Zxz
